body {
	color: #fff;
	background: #1d2125;
}

h1 {
	color: #139bff;
}

.susceptible-color {
	color: #139bff;
}

.infected-color {
	color: #e5345e;
}

.recovered-color {
	color: #4af87b;
}

.dead-color {
	color: #9c00ff;
}

.inline-block-list {
	padding: 0;
}

.inline-block-list li {
	display: inline-block;
	padding: 1rem 1rem 1rem 0;
}

.uppercase {
	text-transform: uppercase;
}
