body {
	color: #fff;
	background: #1d2125;
}

h1 {
	color: #139bff;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.susceptible-color {
	color: #139bff;
}

.infected-color {
	color: #e5345e;
}

.recovered-color {
	color: #4af87b;
}

.dead-color {
	color: #9c00ff;
}

.container section {
	flex: 0 0 auto;
}

#statistics-container {
	width: 650px;
}

.inline-block-list {
	padding: 0;
}

.inline-block-list li {
	display: inline-block;
	padding: 1rem 1rem 1rem 0;
}

.uppercase {
	text-transform: uppercase;
}
